<div class="card text-center">
  <div class="card-header">Welcome To Farmsocial</div>
  <div class="card-body">
    <%if(locals.user){ %>
    <h5 class="card-title"></h5>
    <% } %>
    <p class="card-text">This site is only for Jaipur people</p>
    <a href="#" class="btn btn-primary">Go and Explore</a>
  </div>
</div>
