<link rel="stylesheet" href="/css/sign_in.css" />
<div class="container jello-horizontal">
  <h2 class="form-heading">Sign In</h2>

  <div class="form-container">
    <form action="/users/create-session" method="POST">
      <div id="email-input">
        <i class="fas fa-envelope-open-text icon"></i
        ><input
          type="email"
          name="email"
          placeholder="Email"
          size="30"
          required
        />
      </div>

      <div id="pass-input">
        <i class="fas fa-unlock-alt icon"></i
        ><input
          type="password"
          name="password"
          size="30"
          placeholder="Password"
          required
        />
      </div>

      <div>
        <a href="/reset_password/enter_email">
          <p class="forgot">Forgot Password?</p>
        </a>
      </div>

      <div class="submit-btn">
        <!-- <input type="submit" value="Sign In">  -->
        <button type="submit">Sign In</button>
      </div>

      <div class="extra">
        <p>
          Don't Have an Account?<a class="create" href="/users/sign-up"
            >Create</a
          >
        </p>
      </div>

      <div class="social-icon extra">
        <p style="font-size: 12px; text-align: center">Or connect with</p>
        <a href="/users/auth/google"
          ><img
            src="https://img.icons8.com/color/48/000000/google-plus--v1.png"
        /></a>
        <a href="#"
          ><img
            src="https://img.icons8.com/color/48/000000/facebook-circled.png"
        /></a>
        <a href="#">
          <img
            src="https://img.icons8.com/color/48/000000/twitter-circled.png"
          />
        </a>
      </div>
    </form>
  </div>
</div>
