.navbar {
    background-color: black !important;
}

.navbar .navbar-brand {
    letter-spacing: 5px !important;
    font-weight: 700;
    font-size: 26px;
    background-color: #f8ef42;
    background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav .nav-item .nav-link img {
    margin-top: -5px;
    height: 34px !important;
    width: 38px !important;
}

@media screen and (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
        width: 90px;
        height: 40px;
        font-weight: 500;
        margin-top: 6px;
    }
}